body{
    background-color: darkcyan;
}
h1{
    color: white;
    background-color: darkolivegreen;
}
#show_sketch{
    float: right;
}
canvas{
    border:5px solid palevioletred ;
    border-radius: 20px;
    animation-name: boxshadow;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes boxshadow{
    from{box-shadow: 1px 1px 38px grey;}
    to{box-shadow: 1px 1px 38px white;}
}
p{
    color: white;
}